.feature {
  position: absolute;
  padding: 20px 25px;
  max-width: 285px;
  background-color: var(--bg-color);
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.24px;
  font-family: "RobotoMedium";
  font-weight: 500;
  font-size: 22.8021px;
  line-height: 27px;

  @include small-tablet {
    font-size: 18px;
    line-height: 20px;
    padding: 18px 20px;
    max-width: 250px;
  }

  @include mobile {
    font-size: 14px;
    line-height: 17px;
    padding: 15px 18px;
    max-width: 175px;
  }
}
.features {
  @include mobile {
    margin-top: 500px;
  }
  // .features__content
  &__content {
    max-width: 421px;
    position: relative;
    right: -60%;

    @include tablet {
      right: 0;
      margin: 0 auto;
    }

    &::after {
      content: "";
      position: absolute;
      width: 287px;
      height: 267px;
      display: block;
      top: 150px;
      right: -250px;
      background: linear-gradient(12.08deg, #f101bf 2.82%, #0066ff 97.06%);
      opacity: 0.2;
      filter: blur(90px);
      transform: rotate(5.78deg);
      z-index: -1;
    }
  }
  // .features__title
  &__title {
    margin-bottom: 23px;
  }
  // .features__text
  &__text {
  }
  // .features__wrapper
  &__wrapper {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    @include small-tablet {
      margin-top: 100px;
    }
  }
  // .features__feature1
  &__feature1 {
    top: 214px;
    right: 100px;

    @include tablet {
      top: 140px;
      right: 45px;
    }
    @include small-tablet {
      top: -70px;
      right: auto;
      left: 0;
    }
  }
  // .features__feature2
  &__feature2 {
    top: 377px;
    left: -22px;

    @include tablet {
      top: 305px;
      left: -35px;
    }
    @include small-tablet {
      top: 35px;
      left: auto;
      right: 0;
    }
  }
  // .features__feature3
  &__feature3 {
    bottom: 290px;
    right: -5px;

    @include tablet {
      right: -40px;
    }

    @include small-tablet {
    }
  }
  // .features__feature4
  &__feature4 {
    bottom: 245px;
    left: 190px;

    @include tablet {
      bottom: 175px;
      left: 140px;
    }

    @include small-tablet {
      bottom: 75px;
      left: 60px;
    }
  }
  // .features__image
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
