.integration {
  // .integration__flex
  &__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 222px;

    @include big-desktop {
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      margin-bottom: -40px;
    }
  }
  // .integration__content
  &__content {
    padding-top: 96px;
    @include big-desktop {
      margin-bottom: 30px;
    }

    @include mobile {
      padding-top: 0px;
      margin-top: -50px;
    }
  }
  // .integration__title
  &__title {
    margin-bottom: 35px;

    @include mobile {
      margin-bottom: 24px;
    }
  }
  // .integration__text
  &__text {
    display: block;
    max-width: 395px;

    @include big-desktop {
      max-width: 440px;
    }

    @include mobile {
      max-width: 338px;
    }
  }
  // .integration__images
  &__images {
    position: relative;
    height: 535px;
    flex-grow: 1;
    // flex-shrink: 1;
    width: 90%;
    @include tablet {
      width: 820px;
    }
  }
  // .integration__chart
  &__chart {
    position: absolute;
  }

  // .integration__chart1
  &__chart1 {
    top: 0;
    right: 130px;

    @include mobile {
      width: 145px;
      height: 86px;

      top: 137px;

      left: 184px;
    }
  }
  // .integration__chart2
  &__chart2 {
    top: 197px;
    left: 174px;

    @include mobile {
      width: 110px;
      height: 21px;
      top: 69px;
      left: 266px;
    }
  }
  // .integration__chart3
  &__chart3 {
    bottom: 142px;
    right: 70px;

    @include mobile {
      width: 86px;
      height: 91px;
      right: 258px;
      top: 19px;
    }
  }
  // .integration__chart4
  &__chart4 {
    bottom: 150px;
    left: 30px;

    @include mobile {
      display: none;
    }
  }
  // .integration__chart5
  &__chart5 {
    bottom: 105px;
    right: 240px;

    @include mobile {
      width: 91px;
      height: 55px;
      top: 55px;
      right: 335px;
    }
  }
  // .integration__chart6
  &__chart6 {
    bottom: 0;
    left: 223px;

    @include mobile {
      width: 91px;
      height: 55px;
      top: 120px;
      left: 354px;
    }
  }
  // .integration__chart7
  &__chart7 {
    bottom: 0;
    right: 0;

    @include mobile {
      width: 296px;
      height: 59px;
      top: 200px;
      right: 139px;
    }
  }
}
