<section class="auth">
  <div class="container">
    <div class="auth__content">
      <div class="auth__block">
        <h3 class="auth__title">
          Would like to become a member, please contact us
        </h3>
        <a href="mailto:support@notab.com" class="auth__link"
          >support@notab.com</a
        >
      </div>
      <div class="auth__block">
        <h3 class="auth__title">Already a partner?</h3>
        <a href="#" class="auth__link">Login</a>
      </div>
    </div>
  </div>
</section>
