<section class="features">
  <div class="container">
    <div class="features__content">
      <h2 class="title features__title">Easier ordering. Happier guests.</h2>
      <span class="text features__text">
        NoTab makes it simple for patrons to easily
      </span>
    </div>
    <div class="features__wrapper">
      <div class="feature features__feature1">
        No more lost or forgotten credit cards
      </div>
      <div class="feature features__feature2">
        No more lost or forgotten credit cards
      </div>
      <div class="feature features__feature3">No more split<br />your tab</div>
      <div class="feature features__feature4">Skip the line</div>
      <picture class="features__image">
        <source
          srcset="./img/features.webp, ./img/features@2x.webp 2x"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="./img/features.png"
          srcset="./img/features@2x.png 2x"
          aria-hidden="true"
          alt=""
        />
      </picture>
    </div>
  </div>
</section>
