<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__info">
        <img
          loading="lazy"
          src="./img/svg/notab-footer.svg"
          class="footer__name"
          width="81"
          height="16"
          alt="NoTab"
        />
        <span class="footer__contact">
          Contact us:
          <a class="footer__mail" href="mailto:support@notab.com"
            >support@notab.com</a
          ></span
        >
        <div class="footer__rights">&#169; 2020 - NoTab&#174;</div>
      </div>
      <div class="footer__links">
        <a class="footer__link" href="#">Terms to use</a>
        <a class="footer__link" href="#">Privacy policy</a>
      </div>
    </div>
  </div>
</footer>
