<section class="form">
  <div class="container">
    <div class="form__content">
      <h2 class="title form__title">Get In Touch</h2>
      <span class="text form__text"
        >Have questions about Noble or just want to say hello?<br />Drop us a
        line and a member of our team will getback to you shortly.</span
      >
      <form class="form__main">
        <input
          type="text"
          name="Name"
          class="input-reset form__input"
          placeholder="Name"
        />

        <input
          type="text"
          name="Venue Name"
          class="input-reset form__input"
          placeholder="Venue Name"
        />
        <div class="form__input_short">
          <input
            type="text"
            name="Venue City"
            class="input-reset form__input"
            placeholder="Venue City"
          />
          <input
            type="text"
            name="State City"
            class="input-reset form__input"
            placeholder="State City"
          />
        </div>
        <input
          type="email"
          name="Email"
          class="input-reset form__input"
          placeholder="Email"
        />
        <input
          type="text"
          name="Subject"
          class="input-reset form__input"
          placeholder="Subject"
        />
        <textarea
          rows="10"
          cols="45"
          name="Message"
          class="input-reset form__input form__message"
          placeholder="Message"
        ></textarea>

        <button class="btn-reset form__btn">Send</button>
      </form>
      <div class="form__download">DOWNLOAD OUR APP</div>
      <div class="form__download-links">
        <a href="#">
          <img
            src="./img/svg/AppStore.svg"
            class="form__appstore"
            width="163"
            height="51"
            alt="AppStore link"
          />
        </a>
        <a href="#">
          <img
            src="./img/svg/GooglePlay.svg"
            class="form__googleplay"
            width="184"
            height="51"
            alt="Google Play link"
          />
        </a>
      </div>
    </div>
  </div>
</section>
