<section class="generate">
  <div class="generate__main-wrapper">
    <div class="generate__wrapper">
      <div class="generate__image-blur"></div>
      <picture class="generate__main">
        <source
          srcset="./img/generate.webp, ./img/generate@2x.webp 2x"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="./img/generate.png"
          srcset="./img/generate@2x.png 2x"
          alt="iPhone with QR code"
        />
      </picture>
    </div>

    <div class="container">
      <div class="generate__flex">
        <h2 class="title generate__title">Generate your QR-code</h2>
        <span class="text generate__text"
          >The guest QR code is scanned by&nbsp;the staff and automatically
          sent</span
        >
      </div>
    </div>
  </div>
</section>
