<header class="header">
  <div class="container">
    <nav class="header__content">
      <a href="#" class="header__logo">
        <img class="header__cube" src="./img/cube.png" alt="logo cube" />
        <img
          class="header__name"
          loading="lazy"
          src="./img/svg/title.svg"
          width="96"
          height="25"
          alt="NoTab"
        />
      </a>
      <a href="#" class="header__login">
        <img
          loading="lazy"
          src="./img/svg/login.svg"
          class="header__icon"
          width="26"
          height="25"
          alt="login"
        />
        <span class="header__text login">Login</span>
      </a>
    </nav>
  </div>
</header>
