<section class="hero">
  <div class="container">
    <div class="hero__main">
      <div class="hero__content">
        <h1 class="hero__title">A platform that works smarter</h1>
        <div class="hero__description">
          <img
            loading="lazy"
            src="./img/svg/slash-line.svg"
            class="hero__slash-line"
            width="75"
            height="121"
            aria-hidden="true"
            alt=""
          />
          <h3 class="hero__text">
            NoTab allows bars & nightclubs to manage, understand, and grow
            their&nbsp;business from a&nbsp;single dashboard
          </h3>
        </div>
      </div>
      <div class="hero__image">
        <picture>
          <source
            srcset="./img/phone.webp, ./img/phone@2x.webp 2x"
            type="image/webp"
          />
          <img
            src="./img/phone.png"
            srcset="./img/phone@2x.png 2x"
            alt="phone preview"
          />
        </picture>
      </div>
    </div>
    <div class="hero__bottom">
      <div class="hero__download">DOWNLOAD OUR APP</div>
      <div class="hero__download-links">
        <a href="#">
          <img
            src="./img/svg/AppStore.svg"
            class="hero__appstore"
            alt="AppStore link"
          />
        </a>
        <a href="#">
          <img
            src="./img/svg/GooglePlay.svg"
            class="hero__googleplay"
            alt="Google Play link"
          />
        </a>
      </div>
    </div>
  </div>
</section>
