<section class="integration">
  <div class="container">
    <div class="integration__flex">
      <div class="integration__content">
        <h2 class="title integration__title">BI Tool Integration</h2>
        <span class="text integration__text">
          We use Business Intelligence Tool that allows you to be updated what
          is happening in your business just by one click. Track revenue and
          profit by one click.
        </span>
      </div>
      <div class="integration__images">
        <img
          alt=""
          src="./img/svg/chart1.svg"
          class="integration__chart integration__chart1"
          aria-hidden="true"
        />
        <img
          alt=""
          src="./img/svg/chart2.svg"
          class="integration__chart integration__chart2"
          aria-hidden="true"
        />
        <img
          alt=""
          src="./img/svg/chart3.svg"
          class="integration__chart integration__chart3"
          aria-hidden="true"
        />
        <img
          alt=""
          src="./img/svg/chart4.svg"
          class="integration__chart integration__chart4"
          aria-hidden="true"
        />
        <img
          alt=""
          src="./img/svg/chart6.svg"
          class="integration__chart integration__chart6"
          aria-hidden="true"
        />
        <img
          alt=""
          src="./img/svg/chart5.svg"
          class="integration__chart integration__chart5"
          aria-hidden="true"
        />
        <img
          alt=""
          src="./img/svg/chart7.svg"
          class="integration__chart integration__chart7"
          aria-hidden="true"
        />
      </div>
    </div>
  </div>
</section>
