<section class="mission">
  <div class="container-fluid">
    <div class="mission__flex">
      <picture class="mission__wrapper">
        <source
          srcset="./img/phone2.webp, ./img/phone2@2x.webp 2x"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="./img/phone2.png"
          srcset="./img/phone2@2x.png 2x"
          class="mission__iphone"
          aria-hidden="true"
          alt=""
        />
      </picture>
      <div class="mission__content">
        <h2 class="mission__title title">Our mission and vision</h2>
        <span class="mission__text text">
          While technology is our sweet spot, we’ve developed our vision
          alongside our customers to ensure your everyday problems are solved
          through simplistic tools. And as your business grows, we’ll grow right
          alongside with you.
        </span>
      </div>
    </div>
  </div>
</section>
