<section class="qr">
  <div class="qr__bg-images">
    <picture class="qr__bg1">
      <source
        srcset="./img/bg-qr1.webp, ./img/bg-qr1@2x.webp 2x"
        type="image/webp"
      />
      <img
        loading="lazy"
        class="qr__bg-image1"
        src="./img/bg-qr1.jpg"
        srcset="./img/bg-qr1@2x.jpg 2x"
        aria-hidden="true"
        alt=""
      />
    </picture>
    <picture class="qr__bg2">
      <source
        srcset="./img/bg-qr2.webp, ./img/bg-qr2@2x.webp 2x"
        type="image/webp"
      />
      <img
        loading="lazy"
        class="qr__bg-image2"
        src="./img/bg-qr2.jpg"
        srcset="./img/bg-qr2@2x.jpg 2x"
        aria-hidden="true"
        alt=""
      />
    </picture>
  </div>

  <div class="container-fluid">
    <div class="qr__flex">
      <div class="qr__content">
        <h2 class="title qr__title">QR code</h2>
        <span class="text qr__text">
          No more conflict situations due to wrong order. The guest selects the
          positions, and after that an individual QR code of his order
          is&nbsp;generated
        </span>
        <div class="qr__download-links">
          <a href="#">
            <img
              src="./img/svg/AppStore.svg"
              class="hero__appstore"
              width="163"
              height="51"
              alt="AppStore link"
            />
          </a>
          <a href="#">
            <img
              src="./img/svg/GooglePlay.svg"
              class="hero__googleplay"
              width="184"
              height="51"
              alt="Google Play link"
            />
          </a>
        </div>
      </div>

      <picture class="qr__phone1">
        <source
          srcset="./img/qr-phone1.webp, ./img/qr-phone1@2x.webp 2x"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="./img/qr-phone1.jpg"
          srcset="./img/qr-phone1@2x.png 2x"
          alt="QR iPhone preview"
        />
      </picture>
      <picture class="qr__phone2">
        <source
          srcset="./img/qr-phone2.webp, ./img/qr-phone2@2x.webp 2x"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="./img/qr-phone2.jpg"
          srcset="./img/qr-phone2@2x.png 2x"
          alt="QR iPhone preview"
        />
      </picture>
    </div>
  </div>
</section>
