<section class="scanner">
  <picture>
    <source
      srcset="./img/bg-scanner.webp, ./img/bg-scanner@2x.webp 2x"
      type="image/webp"
    />
    <img
      loading="lazy"
      src="./img/bg-scanner.jpg"
      srcset="./img/bg-scanner@2x.jpg 2x"
      class="scanner__bg"
      aria-hidden="true"
      alt=""
    />
  </picture>
  <div class="container">
    <div class="scanner__flex">
      <div class="scanner__images">
        <picture>
          <source
            srcset="./img/scanner1.webp 1x, ./img/scanner1@2x.webp 2x"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/scanner1.png"
            srcset="./img/scanner1@2x.png 2x"
            class="scanner__image"
            width="333"
            height="668"
            alt="ID verification demo 1"
          />
        </picture>
        <picture>
          <source
            srcset="./img/scanner2.webp 1x, ./img/scanner2@2x.webp 2x"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="./img/scanner2.png"
            srcset="./img/scanner2@2x.png 2x"
            class="scanner__image"
            width="333"
            height="668"
            alt="ID verification demo 2"
          />
        </picture>
      </div>
      <div class="scanner__content">
        <h2 class="title scanner__title">ID Scanner</h2>
        <span class="text scanner__text">
          Scan, verify, and collect data on each person that walks through your
          door to humanize your data. You also get a digital 86 list as well as
          a citywide ban list to keep your venue safe.</span
        >
      </div>
    </div>
  </div>
</section>
